

.jett{
    height: 100vh;
}
.jett{
    background-color: azure;
    color: red;
    font-size: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 10px;
    padding-right: 5%;
}
li{
    list-style: none;
    display: inline;
    padding: 10px 28px;
    font-size: 25px;
}