*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.cover{
    justify-content: center;
    display: block;
    margin-top: 150px;
    padding-left: 600px;
}
#twit{
    margin-top: 75px;
}
#yt{
    margin-top: 75px;
}