*{
    margin: 0;
    padding: 0;
    background-color: wheat;
}
img{
    max-width: 100%;
    height: auto;
}
.cover{
    justify-content: center;
    display: block;
    margin-top: 150px;
    padding-left: 600px;
}
#inst{
    border-radius: 25px;
}
#twit{
    margin-top: 100px;
    border-radius: 25px;
    background-color: aqua;
}
#yt{
    margin-top: 100px;
}