*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-image: url("../pictures/wallpaper.webp");
    background-repeat: no-repeat;
}

.container{
    color: red;
    border-width: 1px;
    font-size: 25px;
    width: 100%
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 2%;
    height: 175px;
    width: 100%;
}
li{
    list-style: none;
    display: inline;
    padding: 10px 28px;
    font-size: 25px;
    width: 100%;
}
li a{
    text-decoration: none;
}

.valpicture{
    color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;        
  
}

.downloadbutton{
    background-color: rgb(4, 43, 70);
    color: white;
    border-color: red;
    border-style: solid;
    border-width: 4px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.6s;
}

.downloadbutton:hover{
    background-color: white;
    color: rgb(4, 43, 70);
    opacity: 0.8;
}

.logo{
    margin-left: 10px;
    margin-top: 90px;
    margin-bottom: 70px;
    padding-left: 10px;
}

