*{
    margin: 0;
    padding: 0;  
}
.rankword{
    position:absolute;
    top: 200px;
    left: 1200px;
    font-size: 18px;
}
#agent{
    position: absolute;
    left: 1200px;
}
.agentword{
    font-size: 18px;
    bottom: 200px;

}