*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../pictures/valorantback.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.toppart{
    background-color: white;
    text-align: center;
    width: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 20px;
}
#supportquestion{
   color: white;
   background-color: rgb(93, 41, 136);
   padding-top: 50px;
   padding-bottom: 50px;
   width: 50%;
   margin: auto;
   font-size: 20px;
}  
form{
    display: flex;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
input[type=text]{
    box-sizing: border-box;
    padding: 16px;
}
#submitbutton{
    background-color: rgb(93, 41, 1367);
    color: white;
    border-color: red;
    border-style: solid;
    border-width: 4px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.6s;
}
#submitbutton:hover{
    background-color: white;
    color: rgb(4, 43, 70);
    opacity: 0.8;
}
