*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../pictures/valorantback.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.toppart{
    background-color: white;
    text-align: center;
    width: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 25px;
}
#supportquestion{
   color: white;
   background-color: rgb(93, 41, 136);
   padding-top: 50px;
   padding-bottom: 50px;
   width: 50%;
   margin: auto;
   font-size: 35px;
}   
form{
    display: flex;
    padding-top: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
